<%= form_for @trainee do |f| %>

<p>
  <strong>Name:</strong>
  <%= @trainee.firstname %>
</p>
 
<p>
  <strong>Last Name:</strong>
  <%= @trainee.lastname %>
</p>

<p>
  <strong>City:</strong>
  <%= @trainee.city %>
</p>

<p>
  <strong>Country:</strong>
  <%= @trainee.country %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @trainee.phone %>
</p>

<p>
  <strong>About:</strong>
  <%= @trainee.bio %>
</p>

<p>
  <strong>Preference:</strong>
  <%= @trainee.preference %>
</p>

<p>
  <strong>Email:</strong>
  <%= @trainee.email %>
</p>

<p>
  <strong>Github:</strong>
  <%= @trainee.github %>
</p>

<p>
  <strong>Linkedin:</strong>
  <%= @trainee.github %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @trainee.github %>
</p>
<% end %>

<%= link_to 'Back', :action => :index %>